Repository project-leek/project-leek, pull requests merged in 2021-01, with the labels that each got.

#213 212 create a song search field in the home view
  packages/app/src/components/uiBlocks/Textfield.vue
  packages/app/src/views/Home.vue
Labels: UI / app

#194 Create a general dropdown component
  packages/app/src/assets/icons/chevron-down.svg
  packages/app/src/assets/icons/chevron-right.svg
  packages/app/src/assets/icons/plus.svg
  packages/app/src/components/uiBlocks/Dropdown.vue
Labels: UI / app

#223 add build and usage docs
  .github/workflows/release-nfc-reader.yml
  LICENSE
  docs/Build.md
  docs/README.md
  docs/Usage.md
  docs/images/comitup-choose-wifi.png
  docs/images/comitup-enter-password.png
  docs/images/comitup-enter-wifi.png
  package.json
  packages/app/package.json
  packages/app/src/compositions/useAuthentication.ts
  packages/app/src/lib/feathers.ts
  packages/backend/README.md
  packages/backend/config/production.json
  packages/backend/package.json
  packages/backend/src/services/authentication/authentication.hooks.ts
  packages/backend/src/services/nfc-readers/hooks/play-spotify.ts
  packages/backend/src/services/nfc-readers/nfc-readers.service.ts
  packages/backend/src/services/nfc-tags/nfc-tags.service.ts
  packages/backend/src/services/users/users.service.ts
  packages/commons/package.json
  packages/nfc-reader/nfc-reader.sh
  packages/nfc-reader/package.json
  packages/nfc-reader/src/index.ts
  packages/nfc-reader/src/lib/feathers.ts
Labels: architecture / repo, documentation

#220 import lucidchart diagrams
  docs/README.md
  docs/diagrams/activity_diagrams/alle nfc tags sehen.png
  docs/diagrams/activity_diagrams/box mit wlan verbinden.png
  docs/diagrams/activity_diagrams/box website aufrufen.png
  docs/diagrams/activity_diagrams/einloggen.png
  docs/diagrams/activity_diagrams/gruppe editieren.png
  docs/diagrams/activity_diagrams/gruppe erstellen.png
  docs/diagrams/activity_diagrams/gruppe löschen.png
  docs/diagrams/activity_diagrams/nfc tag suchen.png
  docs/diagrams/activity_diagrams/registrieren.png
  docs/diagrams/activity_diagrams/tag editieren.png
  docs/diagrams/activity_diagrams/tag erstellen.png
  docs/diagrams/activity_diagrams/tag löschen.png
Labels: documentation

#235 add way to add item in dropdown directly
  config/.eslintrc.base.js
  packages/app/src/components/uiBlocks/Button.vue
  packages/app/src/components/uiBlocks/Dropdown.ListItem.ts
  packages/app/src/components/uiBlocks/Dropdown.vue
  packages/app/src/router/index.ts
  packages/app/src/views/Home.vue
  packages/app/src/views/Sandbox.vue
  packages/app/tailwind.config.js
Labels: UI / app

#252 201 create a basic tag entry component
  packages/app/public/frau.jpg
  packages/app/public/logo.png
  packages/app/public/stadt.jpg
  packages/app/src/components/uiBlocks/Button.vue
  packages/app/src/components/uiBlocks/TagEntry.vue
  packages/app/src/views/Home.vue
  packages/app/tailwind.config.js
Labels: UI / app

#253 add an AddTag view
  packages/app/src/assets/attach-tag.gif
  packages/app/src/components/add-tag/AddTagStepDemo.vue
  packages/app/src/components/add-tag/AddTagStepImage.vue
  packages/app/src/components/add-tag/AddTagStepPlaceTagOnReader.vue
  packages/app/src/components/uiBlocks/Button.vue
  packages/app/src/components/uiBlocks/TagEntry.vue
  packages/app/src/components/uiBlocks/Textfield.vue
  packages/app/src/router/index.ts
  packages/app/src/views/AddTag.vue
  packages/app/src/views/Home.vue
  packages/backend/src/index.ts
  packages/backend/src/services/nfc-readers/hooks/play-spotify.ts
  packages/backend/src/services/nfc-readers/nfc-readers.service.ts
  packages/backend/src/services/nfc-tags/nfc-tags.model.ts
  packages/backend/src/services/nfc-tags/nfc-tags.service.ts
  packages/commons/src/nfc-reader.class.ts
  packages/commons/src/nfc-tag.class.ts
  packages/nfc-reader/simulate-read.sh
  packages/nfc-reader/src/index.ts
Labels: UI / app, backend, nfc-reader

#260 202 create a component which hides/shows divs
  packages/app/src/components/uiBlocks/Button.vue
  packages/app/src/components/uiBlocks/GroupDropDown.vue
  packages/app/src/components/uiBlocks/GroupDropDownItem.vue
  packages/app/src/components/uiBlocks/TagEntry.vue
  packages/app/src/main.ts
  packages/app/src/views/Home.vue
Labels: UI / app

#264 seeding and read new nfc tags groups for home view
  packages/app/src/components/uiBlocks/GroupDropDownItem.vue
  packages/app/src/views/Home.vue
  packages/backend/src/index.ts
  packages/commons/src/nfc-tag.class.ts
Labels: UI / app, backend

#256 247 implement component for add a tag addtagstepinfo
  packages/app/src/components/add-tag/AddTagStepInfo.vue
  packages/app/src/components/uiBlocks/Dropdown.vue
  packages/app/src/views/AddTag.vue
  packages/app/src/views/Sandbox.vue
Labels: UI / app

#270 Refresh Spotify tokens if needed
  packages/backend/src/services/index.ts
  packages/backend/src/services/nfc-readers/hooks/play-spotify.ts
  packages/backend/src/services/spotify-tracks/spotify-tracks.service.ts
  packages/backend/src/services/spotify/track/spotify-track.service.ts
  packages/backend/src/utils/spotify.ts
Labels: UI / app, bug

#271 Responsive home
  packages/app/src/App.vue
  packages/app/src/views/Home.vue
Labels: UI / app

#290 added edit and trash icon
  packages/app/src/assets/icons/edit_white.svg
  packages/app/src/assets/icons/trash_red.svg
  packages/app/src/assets/icons/trash_white.svg
Labels: UI / app

#295 create a new state which visualise that a tag is selected
  packages/app/src/components/uiBlocks/GroupDropDownItem.vue
  packages/app/src/views/Home.vue
Labels: UI / app

#265 Support external images for tags
  packages/app/public/image-gallery.svg
  packages/app/src/assets/image-gallery.svg:Zone.Identifier
  packages/app/src/components/add-tag/AddTagStepImage.vue
  packages/commons/src/nfc-tag.class.ts
Labels: UI / app, backend, enhancement

#328 322 fix bug with external image (see image)
  packages/app/src/components/add-tag/AddTagStepImage.vue
  packages/app/src/components/add-tag/AddTagStepTrack.vue
  packages/app/src/components/uiBlocks/TagEntry.vue
  packages/commons/src/nfc-tag.class.ts
Labels: bug

#329 326 add button to reach setting page
  packages/app/src/components/uiBlocks/Button.vue
  packages/app/src/router/index.ts
  packages/app/src/views/AddTag.vue
  packages/app/src/views/Home.vue
  packages/app/src/views/Settings.vue
Labels: enhancement
